.btn-primary {
   background-color: #34B7F1; /* Lighter blue for primary action */
   border-color: #34B7F1; /* Consistent with the background */
   color: #fff; /* White text for contrast */
   font-weight: 500;
   border: none;
   box-shadow: none;
   text-shadow: none;
}
.btn-primary:hover {
   background-color: #128C7E; /* Darker shade for hover state */
   border-color: #128C7E;
   color: #fff;
}
.btn-primary:focus,
.btn-primary.focus {
   outline: none;
   box-shadow: 0 0 0 0.25rem rgba(50, 183, 241, 0.5); /* Light blue glow */
}
.form-control:focus {
   border-color: #34B7F1;
   outline: none;
   box-shadow: none;
}
select.form-select {
   background-color: #fff;
   color: #34B7F1; /* Text color to match the primary blue */
}
select.form-select:hover {
   background-color: #f2f2f2;
   border-color: #34B7F1;
}
select.form-select:focus {
   outline: none;
   box-shadow: 0 0 0 0.25rem rgba(50, 183, 241, 0.5);
}
select.form-select:disabled {
   background-color: #f2f2f2;
   color: #a0a0a0;
   border-color: #a0a0a0;
}
#chat-container {
   height: calc(100vh - 350px);
   padding: 20px;
   overflow-y: scroll;
}
.chat-message {
   display: inline-block;
   margin-bottom: 10px;
   max-width: 70%;
   padding: 12px;
   border-radius: 16px;
   font-size: 16px;
   line-height: 1.5;
   word-wrap: break-word;
   clear: both; 
}
.bot1 {
   background-color: #DCF8C6; /* Light green for one chat entity */
   color: #000;
   float: left;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, .15);
   position: relative;
   margin-right: 20px;
}
.bot2 {
   background-color: #F5F5F5; /* Light gray for another chat entity */
   color: #000;
   float: right;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, .15);
   position: relative;
   margin-left: 20px;
}
.bot2:before {
   position: absolute;
   display: block;
   content: '';
   border-top: 12px solid #F5F5F5;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
   left: -15px;
   top: 12px;
}
.bot1:before {
   position: absolute;
   display: block;
   content: '';
   border-top: 12px solid #DCF8C6;
   border-right: 12px solid transparent;
   border-left: 12px solid transparent;
   right: -15px;
   top: 12px;
}
@media (max-width: 767.98px) {
   .chat-message {
      max-width: 80%;
   }
}
.typing {
   display: inline-block;
   position: relative;
   animation: typing 1s infinite;
}
@keyframes typing {
   0% { opacity: 0.3; }
   50% { opacity: 1.0; }
   100% { opacity: 0.3; }
}
.link-like-WhatsApp {
   color: #34B7F1; /* Blue to match primary theme color */
}
.link-like-WhatsApp:hover,
.link-like-WhatsApp:active {
   text-decoration: underline;
   color: #128C7E; /* Darker green for active/hover states */
}
h1 {
   color: #34B7F1; /* Blue for primary headers */
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
h1 span {
   text-shadow: none;
}
